@use '../abstracts' as *;

.about-container {
  padding-inline: var(--size-8);
  padding-block: var(--size-10);

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

// Hero Content
.hero-content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--size-9);
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    width: 50%;
    padding-right: var(--size-9);
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: 1024px) {
    flex-grow: 1;
    padding-right: 6rem;
    margin-bottom: 0;
  }
}

.hero-title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  margin-bottom: var(--size-3);
  font-weight: var(--font-weight-5);
  color: var(--white);

  @media (min-width: 640px) {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

.hero-title-sub {
  display: inline-block;
}

.hero-text {
  margin-bottom: var(--size-7);
  line-height: 1.625;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.hero-button {
  display: inline-flex;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  border: 0;
  padding-block: var(--size-2);
  padding-inline: var(--size-5);
  border-radius: var(--radius-2);
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */

  &:focus {
    outline: none;
  }

  &--contact {
    color: white;
    background-color: var(--green-6);

    &:link,
    &:visited {
      color: white;
    }

    &:hover {
      background-color: var(--green-8);
    }
  }

  &--projects {
    margin-left: var(--size-3);
    color: var(--gray-400);
    background-color: var(--gray-800);

    &:hover {
      background-color: var(--gray-700);
      color: var(--white);
    }
  }
}

// Hero Image
.hero-image {
  width: 83.333333%;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 1024px) {
    // width: 100%;
    max-width: 32rem; /* 512px */
  }
}

.hero-image__img {
  background-size: cover;
  background-position: center;
  border-radius: var(--radius-2);
}
