@use '../abstracts' as *;

.header {
  background-color: var(--gray-800);
  background-image: var(--gradient-2);
  top: 0;
  z-index: var(--layer-5);

  @media (min-width: 768px) {
    position: sticky;
  }
}
