.modal {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  width: 100%;
  height: 100vh;
  background-color: rgba(17, 24, 39, 0.9);

  animation: fade-in 0.3s ease;
  z-index: var(--layer-5);

  @media (min-width: 768px) {
  }
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--gray-9);
  border: var(--border-size-1) solid var(--gray-7);
  border-radius: var(--radius-2);
  width: 80%;
  max-width: 500px;
  // height: fit-content;
  // max-height: 80%;
  animation: fade-in 0.3s;
  overflow: hidden;
  z-index: var(--layer-5);
}

.modal-header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--purple-dark);
}

.modal-title {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4);
  padding: var(--size-3);
  text-align: center;
}

.modal-image {
  max-height: 250px;
  overflow: hidden;
}

.modal-scroll-area {
  height: 200px;
  overflow-y: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  padding-block: var(--size-5);
  padding-inline: var(--size-4);
}

.modal-body p {
  font-size: var(--font-size-1);
  margin-bottom: var(--size-3);

  & span {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5rem;
  }
}

p.modal-stack {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-top: -15px;
  font-size: 0.8rem;
  font-family: var(--font-mono);
}

.modal-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-5);
  list-style: none;
  padding: 0;
  margin-bottom: var(--size-4);
}

.links-link {
  display: flex;
  align-items: center;
  gap: var(--size-2);

  & img {
    width: var(--size-7);
  }

  & span {
    color: var(--blue-7);
    text-decoration: underline;
  }

  & .github-logo {
    filter: invert(75%);
  }
}

.modal-details {
  background-color: var(--gray-8);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  padding-bottom: var(--size-1);
}

.btn {
  background-color: var(--gray-8);
  color: var(--gray-6);
  padding-block: var(--size-1);
  padding-inline: var(--size-3);
  margin-top: var(--size-3);
  margin-bottom: var(--size-4);
  border-radius: var(--radius-2);
  transition: 0.3s ease-in-out;
  width: 90%;
  text-transform: uppercase;
  letter-spacing: var(--font-letterspacing-3);
}

.btn:hover,
.btn:focus {
  color: var(--gray-4);
  background-color: var(--gray-7);
}

// Animations
.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 0.3s ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
