@use '../abstracts' as *;

.projects {
  color: var(--gray-400);
  background-color: var(--gray-900);
}

.projects-container {
  padding-inline: var(--size-4);
  padding-top: 2.5rem;
  padding-bottom: var(--size-11);
  text-align: center;

  @media (min-width: 1024px) {
    padding-inline: var(--size-12);
  }
}

.projects-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: var(--size-5);
}

.projects-head--title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: var(--font-weight-5);

  @media (min-width: 640px) {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
  }
}

.projects-head--text {
  margin-inline: auto;
  line-height: 1.625;

  @media (min-width: 1024) {
    width: 66.666667%;
  }
}

// Tabs
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: var(--size-7);
  border: var(--border-size-1) solid;
  gap: 1px;
  background-color: var(--gray-7);
  border-radius: var(--radius-2);
  overflow: hidden;
}

.tab {
  flex-grow: 1;
  background-color: var(--gray-9);
  padding-inline: var(--size-4);
  padding-block: var(--size-1);
  transition: 0.5s ease;

  &.active {
    background-color: var(--gray-4);
    color: var(--gray-9);

    &:hover,
    &:focus {
      background-color: var(--gray-4);
      color: var(--gray-9);
    }
  }
}

.tab:hover,
.tab:focus {
  background-color: var(--gray-8);
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-3);
}

.tab-content--title {
  color: var(--gray-1);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-4);
}

// Backdrop
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// Project cards
.cards {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  // grid-template-columns: repeat(2, auto);
  gap: var(--size-8);
  // margin-inline: var(--size-8);
  // width: 100%;
  // overflow: auto;
  // white-space: nowrap;
}

.card {
  background-color: var(--gray-9);
  border: var(--border-size-1) solid var(--purple-dark);
  border-radius: var(--radius-2);
  // border-bottom-left-radius: var(--radius-3);
  // border-bottom-right-radius: var(--radius-3);
  overflow: hidden;
  width: 200px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  // @media (min-width: 768px) {
  //   max-width: 20em;
  // }
}

.card:hover,
.card:focus {
  transform: translateY(-2px);
  box-shadow: 0 0 0 2px var(--green-9);
}

// .hidden {
//   width: 0;
//   height: 0;
//   overflow: hidden;
//   opacity: 0;
//   transition: 2s ease-in-out;
//   // animation: fade-out 2s;
// }

// .expanded {
//   width: 100%;
//   height: auto;
//   overflow: auto;
//   opacity: 1;
//   // animation: fade-in 2s;
// }

// .card.expanded {
//   width: 100%;
//   opacity: 1;
//   cursor: auto;
// }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    // width: 100%;
    // height: auto;
    // overflow: auto;
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    // width: 0;
    // height: 0;
    // overflow: hidden;
    opacity: 0;
  }
}

.card-head {
  background-color: var(--purple-dark);
}

.card-title {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  padding: var(--size-2);
}

.card-image {
  max-height: 100px;
  overflow: hidden;
  border-top: 1px solid var(--gray-900);
  border-bottom: 1px solid var(--gray-900);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-2);
  padding: var(--size-4);
}

.tech-stack {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-3);
  list-style: none;
  padding: 0;
}

.stack-item {
  display: inline-block;
  background-color: var(--gray-6);
  color: var(--gray-9);
  padding-inline: var(--size-3);
  border-radius: var(--radius-3);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-6);
  font-family: var(--font-mono);
}

// Project Cards
// .project-cards {
//   display: flex;
//   flex-wrap: wrap;
//   margin: -1rem;
// }

// .project-card__link {
//   width: 100%;
//   padding: var(--size-3);

//   @media (min-width: 640px) {
//     width: 50%;
//   }
// }

// .project-card {
//   display: flex;
//   position: relative;
// }

// .project-card__img {
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center;
// }

// .project-card--content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-inline: var(--size-7);
//   padding-block: 2.5rem;
//   position: relative;
//   // z-index: var(--layer-5);
//   width: 100%;
//   border: 4px solid;
//   border-color: var(--gray-800);
//   background-color: var(--gray-900);
//   opacity: 0;
//   transition-property: color, background-color, border-color,
//     text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
//     backdrop-filter;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 500ms;

//   &:hover {
//     opacity: 1;
//   }
// }

// .project-card--subtitle {
//   letter-spacing: 0.1em;
//   font-size: 0.875rem; /* 14px */
//   line-height: 1.25rem; /* 20px */
//   font-weight: var(--font-weight-5);
//   color: var(--green-4);
// }

// .project-card--title {
//   font-size: 1.125rem; /* 18px */
//   line-height: 1.75rem; /* 28px */
//   font-weight: var(--font-weight-5);
//   color: white;
//   margin-bottom: 0.75rem; /* 12px */
// }

// .project-card--text {
//   display: flex;
//   flex-direction: column;
//   gap: var(--size-2);
//   line-height: 1.625;
// }

// .project-card--text-lead {
//   font-size: var(--font-size-1);
// }

// .project-card--text-stack {
//   font-size: var(--font-size-1);
// }
