@use '../abstracts' as *;

body {
  color: var(--gray-4);
}

h1,
h2,
h2,
h4,
h5,
h6 {
  color: var(--gray-1);
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.section-head--icon {
  display: inline-block;
  margin-inline: auto;
  width: 2.5rem;
  margin-bottom: var(--size-3);
  color: var(--grape-9);
}
